/* Estilo general */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* Contenedor principal */


/* Títulos */
h1 {
  color: #333;
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Labels */
label {
  font-size: 1.1em;
  color: #555;
  display: block;
  margin-top: 15px;
}

/* Inputs y Textareas */
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
  word-wrap: break-word; /* Permite el ajuste de palabra */
  overflow-wrap: break-word; /* Permite el ajuste de palabra */
}

/* Ajustes para los textarea */
textarea {
  min-height: 100px;  /* Altura mínima */
  resize: vertical;   /* Permite que el usuario redimensione el textarea verticalmente */
  overflow: hidden;   /* Elimina el scroll automático */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

/* Cuando se enfoca un input o textarea */
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: #5c9dff;
  outline: none;
}

.error {
  color: red;
}

/* Estilo para los botones */
button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  font-size: 1.1em;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Espaciado entre secciones */
div {
  margin-bottom: 20px;
}

/* Estilos para el contenedor de cada componente */
.component-wrapper {
  margin-bottom: 30px;
}

/* Asegurar que las respuestas no se vean sobrecargadas */
textarea {
  font-family: 'Arial', sans-serif;
}

/* Para pantallas pequeñas */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
